.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gallery {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.one {
  width: 100px;
  height: 200px;
}

.two {
  width: 200px;
  height: 200px;
}

.three {
  width: 300px;
  height: 200px;
}

.four {
  width: 400px;
  height: 200px;
}
